.company-logo{
    max-width: fit-content;
  max-height: fit-content;
  width: 200px;

}

.job-container{
    background-color: #fff;
    display: block;
    padding: 10px;
    margin-top: 30px;
}

.header-lower{
    display: flex;

}

.header-lower h3{
    margin-top: 40px;
    margin-left: 20px;
}
.header-lower h5{
    margin-left: 20px;
}

.title-container{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.title{
    display: flex;
}

.title h5{
    margin-left: 20px;
}

.title p{
    
  display: block;
  margin-bottom: 10px;
  font-weight: 100px;
  margin-left: 10px;
}

.posted{
    display: flex;
}

.posted h5{
    margin-left: 15px;
    margin-top: 10px;
}

.posted p{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 130px;
}

.posted .apply-now-btn{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}

.posted .apply-now-btn:hover{
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
}

.description{
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
}


.additional-info{
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
}

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style the dropdown button */
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
  }

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Style the dropdown options */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change the color of options when hovered over */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown:hover .dropdown-content {
    display: block;
  }