input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}



.row-contain {
    display: flex;
}

.free-sub {
    height: AUTO;
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: 1px gray; /* Include the border style here */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    transition: border-color 0.3s; /* Add a smooth transition effect */
}

.free-sub:hover {
    border: 1px solid gray;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5); /* Change the border color on hover */
}

.free-sub P {
    margin-top: 10px;
    font-size: 11px;
}

.sub-row {
    display: flex;
}

.sub-row label {
    margin-left: 10px;
}
